#container {
  width: 65%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0, 5rem;
  padding: 0, 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#container>article {
  width: 20rem;
  height: 39rem;
  border: solid gray 1px;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}

#container>article img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

#container>article h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: sans-serif;
  color: #fff;
}

#container>article button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: auto;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#container>article button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}


#login {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  margin: 200px auto;
  text-align: center;
}

#area-login {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
}

#area-login h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
}

#login-area p {
  font-family: sans-serif;
  font-size: 14px;
}

#area-login form {
  margin-top: 20px;
}

#area-login input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
}

#area-login input:focus {
  border-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#botao-entrar {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: auto;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#botao-entrar:hover {
  background-color: #9b9b9b;
  color: #2b2b2b;
}

#botao-logout {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: auto;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: auto;
}

#botao-logout:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

header h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

header div {
  display: flex;
  gap: 0.5rem;
}

#filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 10;
}

#botoes-topo {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

#botoes-topo button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#botoes-topo button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

#barra-pesquisa {
  display: flex;
  justify-content: center;
  /* Centraliza a barra de pesquisa */
  width: 100%;
  margin-top: 2rem;
  /* Espaço entre os botões e a barra de pesquisa */
}

#barra-pesquisa input {
  width: 20%;
  /* Define a largura da caixa de pesquisa */
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
}

.imagem-jogador {
  height: 50%;
  margin-top: 0rem;
}

.informacoes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 40%;
  margin-top: 1rem;
  font-family: oswald, sans-serif;
}

.nascimento-centralizado {
  grid-column: span 2;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.info-box {
  background-color: #444444;
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.detalhes-jogador {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  color: #fff;
  padding: 1rem;
  font-family: oswald, sans-serif;
  font-size: medium;
}

.botao-voltar {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.botao-voltar:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}